::placeholder {
    color: #BDBDBD;
    opacity: 1;
    font-weight: 300
}

:-ms-input-placeholder {
    color: #BDBDBD;
    font-weight: 300
}

::-ms-input-placeholder {
    color: #BDBDBD;
    font-weight: 300
}

input,
textarea {
    padding: 10px 12px 10px 12px;
    border: 1px solid lightgrey;
    border-radius: 2px;
    margin-bottom: 5px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    letter-spacing: 1px
}

input:focus,
textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #304FFE;
    outline-width: 0
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}

.input-grey{
    background: #f5f5f5  !important;
  color: rgb(134, 122, 122)  !important;
  border: none  !important;
  outline: none  !important;
  box-shadow: none  !important;
  letter-spacing: 1px !important;  
  font-weight: 300  !important;
}

.border-line {
    border-right: 1px solid #EEEEEE
}

@media screen and (max-width: 991px) {
    .border-line {
        border-right: none
    }
}